<%- layout('layout') %>
<%- partial('sideBar') %>
<div id="content">
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="/">首页</a><span class="divider">/</span></li>
                <li>登录</li>
            </ul>
        </div>
        <div class="inner">
            <% if((typeof error) != 'undefined' && error){ %>
            <div class="alert alert-error">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <% if((typeof success) != 'undefined' && success){ %>
            <div class="alert alert-success">
                <strong><%= success %></strong>
            </div>
            <% } %>
            <form action="/login" method="post" id="loginForm" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">用户名</label>
                    <div class="controls">
                        <input type="text" name="loginName" id="loginName" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">密码</label>
                    <div class="controls">
                        <input type="text" name="passWord" id="passWord" class="input-xlarge">
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" value="登录" class="span-primary">
                </div>
            </form>
        </div>
    </div>
</div>